{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex jutify-content-center " style="height: 10vh;"></div>
<div class="container bg-light pl-2 pr-2">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img" src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }} <span class="badge badge-danger ml-2">{{ movie.vote_average }}</span></h2>
          <p class="card-text"><small class="text-muted">{{ movie.original_title }}</small></p>
          <p class="card-text">{{ movie.overview }}</p>
          <p>
            <ol class="breadcrumb">
              {% for genre in movie.genres.all %}
                <li class="breadcrumb-item">{{ genre.name }}</li>
              {% endfor %}
            </ol>
          </p>
          <p class="card-text">
            {% if user in movie.users_like.all %}
            <i class="fas fa-heart fa-lg like-btn mt-1" style="color:crimson; cursor: pointer;" data-id="{{ movie.pk }}"></i>
            {% else %}
            <i class="fas fa-heart fa-lg like-btn mt-1" style="color:black; cursor: pointer;" data-id="{{ movie.pk }}"></i>
            {% endif %}
            <span id="likeCount{{ movie.pk }}" class="ml-2">{{ movie.users_like.all|length }} 명이 좋아합니다.</span>
          </p>
          <p class="card-text">
            <h3 class="d-flex justify-content-end">사용자 평점: <span class="badge badge-success ml-2">{{ avg_rank }}</span></h3>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% if movie.review_set.all %}
  <div class="container p-3">
    <h3 class="mt-5 mb-3">Reviews</h3>
    {% for review in movie.review_set.all %}
    <div class="mb-5">
      <div class="list-group">
        <a href="{% url 'movies:review_detail' movie.pk review.pk %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ review.title }}</h5>
            <h3>
              <span class="badge badge-danger ml-2">{{ review.rank }}</span>
            </h3>
          </div>
          <p class="mb-1">{{ review.content }}</p>
        </a>
      </div>
      {% if review.user == request.user %}
        <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-warning"><i class="far fa-trash-alt text-dark"></i></button>
        </form>
        <a href="{% url 'movies:update_review' movie.pk review.pk %}">
          <button class="btn btn-info"><i class="far fa-edit text-dark"></i></button>
        </a>
      {% endif %}
    </div>  
    {% endfor %}
  </div>
  {% endif %}
  <div class="container p-3">
    <h3 class="mt-5 mb-3">New Review</h3>
    <form action="{% url 'movies:movie_detail' movie.pk %}" method='POST'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary">작성</button>
    </form>
  </div>  
</div>
<div class="d-flex jutify-content-center " style="height: 10vh;"></div>
<script>
  const likeBtns = document.querySelectorAll('i.like-btn')
  likeBtns.forEach(likeBtn => {
    likeBtn.addEventListener('click', event => {
      {% if user.is_authenticated %}
        const movie_pk = event.target.dataset.id
        axios.get(`/movies/${movie_pk}/like/`)
          .then(res => {
            const { liked, count } = res.data
            if (liked) {
              event.target.style.color = 'crimson'
            } else {
              event.target.style.color = 'black'
            }
            document.querySelector(`#likeCount${movie_pk}`).innerText = count + '명이 좋아합니다.'
          })
      {% else %}
        alert('로그인이 필요합니다')
      {% endif %}
    })
  })
</script>  
{% endblock %}