{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Movie detail</h1>
  <hr>
  <h3>{{ movie.title }}</h3>
  <div>
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="movie_poster">
  </div>
  {% for review in movie.review_set.all %}
    <div class='mt-5 mb-5'>
      <h4>{{ review.title }}</h4>
      <h5>{{ review.content }} {{review.rank }}</h5>
      {% if review.user == request.user %}
        <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-warning">삭제</button>
        </form>
        <a href="{% url 'movies:update_review' movie.pk review.pk %}">
          <button class="btn btn-info">수정</button>
        </a>
      {% endif %}
    </div>
  {% endfor %}
  <h3 class="mt-5">New Review</h3>
  <form action="{% url 'movies:movie_detail' movie.pk %}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary">작성</button>
  </form>
{% endblock %}