{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex jutify-content-center " style="height: 10vh;"></div>
<div class="bg-light pl-2 pr-2">
<h1>Movie detail</h1>
  <hr>
  <h3>{{ movie.title }}</h3>
  <div>
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="movie_poster">
  </div>
  <li class="list-group">{{ movie.overview }}</li>
  <li class="list-group">
    {% if user in movie.users_like.all %}
      <i class="fas fa-heart fa-lg like-btn mt-1" style="color:crimson; cursor: pointer;" data-id="{{ movie.pk }}"></i>
    {% else %}
      <i class="fas fa-heart fa-lg like-btn mt-1" style="color:black; cursor: pointer;" data-id="{{ movie.pk }}"></i>
    {% endif %}
    <span id="likeCount{{ movie.pk }}">{{ movie.users_like.all|length }} 명이 좋아합니다.</span>
  </li>
  {% for review in movie.review_set.all %}
    <div class='mt-5 mb-5'>
      <a href="{% url 'movies:review_detail' movie.pk review.pk %}">
        <h4>{{ review.title }}</h4>
      </a>
      <h5>{{ review.content }} {{review.rank }}</h5>
      {% if review.user == request.user %}
        <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-warning">삭제</button>
        </form>
        <a href="{% url 'movies:update_review' movie.pk review.pk %}">
          <button class="btn btn-info">수정</button>
        </a>
      {% endif %}
    </div>
  {% endfor %}
  <h3 class="mt-5">New Review</h3>
  <form action="{% url 'movies:movie_detail' movie.pk %}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary">작성</button>
  </form>

<script>
  const likeBtns = document.querySelectorAll('i.like-btn')
  likeBtns.forEach(likeBtn => {
    likeBtn.addEventListener('click', event => {
      {% if user.is_authenticated %}
        const movie_pk = event.target.dataset.id
        axios.get(`/movies/${movie_pk}/like/`)
          .then(res => {
            const { liked, count } = res.data
            if (liked) {
              event.target.style.color = 'crimson'
            } else {
              event.target.style.color = 'black'
            }
            document.querySelector(`#likeCount${movie_pk}`).innerText = count + '명이 좋아합니다.'
          })
      {% else %}
        alert('로그인이 필요합니다')
      {% endif %}
    })
  })
</script>
</div>  
{% endblock %}